body {
  font-family: Fagun, Sans-serif;
  font-weight: 300;
  background-color: #F5F0E6;
  color: white;
}
*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
/* Nav bar*/
.logo {
  width: 5rem;
  margin-left: 0.7rem;
  margin-top: 0.7rem;
}

nav li {
float: right;
margin-right: 1rem; 
}

nav ul li {
display: inline-block;
line-height: 3rem;
margin-top: 0.25rem;
}

nav ul li a {
  color: white;
  font-size: 14px;
  text-transform: uppercase;
}

a.active,a:hover {
  background: #252525;
  text-decoration:line-through white 0.2rem;
  transform:rotate(50deg);
  transition: 0,2s;
}

.h1 {
  font-size: 2.5rem;
  text-align: center;

}

.h2 {
  font-size: 2.5rem;
  text-align: center;
}

#h2text-lpage {
  font-size: 2rem;
  text-align: center;
  margin-top: 1rem;
}
.pil {
  display: inblock;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 11.2rem;
  width: 10%;
  animation: bounce 1.5s infinite;
  box-shadow:white ;
  cursor: pointer;

}

@keyframes bounce {
  0% {
    top: 0;
  }
  50% {
    top: -8px;
  }
  100% {
    top: 0px;
  }
}

.landingpage1 {
background-color: #252525;
height: 90vh;
}

.h3text-section2 {
  color: #252525;
  text-align: center;
  font-size: 1rem;
  display: flex;
  justify-content: space-around;
  margin-top: 50rem;
  
}



  
  