body  {
  background-color: #FAF8F5;
  color: #252525;
}

html {
  scroll-behavior: smooth;
}

h1,h2,h3 {
  font-family: raleway, sans-serif;
  font-weight: 700;
  font-style: normal;
}

p {
  font-family: roboto, sans-serif;
  font-style: normal;
  line-height: 1.3;
}

/* Nav bar*/
.logo {
  width: 4rem;
  margin-right: -3rem;
}

nav li {
  float: right;
  margin-right: 1rem;
}

nav ul li {
  display:inline-block;
  margin-top: 0.5rem;
}

nav ul li a {
  color: #141414;
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
  font-family: raleway,sans-serif;
  font-weight: 700;
  font-style: normal;
}

li:hover {
  text-decoration:line-through #252525 0.2rem;
}

.h1 {
  font-size: 2.5rem;
  text-align: center;
}
#portfolio {
  margin-top: -2rem;
  font-size: 2.5rem;
}
#h2text-lpage {
  margin-top: -0.2rem;
  font-size: 2.3rem;
  text-align: center;
}

/* Forside*/
.forside {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

#pil {
  position: relative;
  margin-top: 10rem;
  width: 10%;
  animation: bounce 1.5s infinite;
  cursor: pointer;
}
@keyframes bounce {
  0% {
    top: 0;
  }
  50% {
    top: -8px;
  }
  100% {
    top: 0px;
  }
}

/* Projekter*/

#h2-project {
  font-size: 2rem;
  margin-left: 1.3rem;
  margin-top: 3rem;
  line-height: 0rem;
}

.line {
  display: block;
  width: 12.5rem;
  border: none;
  border-top: 2px solid #252525;
  margin-left: 1.3rem;
}

.project-container {
  display: flex;
  width: 100%;
  flex-wrap:wrap;
  justify-content: space-evenly;
  margin-top: 1.2rem;
}

.item {
  margin: auto;
  width: 90%;
  margin-bottom: 2rem;
}

.project-container img {
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 7px 8px;
}

.item h2 {
  font-size: 1.3rem;
  margin-top: 0.5rem;
  line-height: 1rem;
}

.item h3 {
  font-size: 0.7rem;
  text-decoration: underline solid black;
  line-height: 0rem;
}

.item p {
  font-size: 1rem;
}

/* Profil*/

#h2-profil {
  font-size: 2rem;
  margin-left: 1.3rem;
  margin-top: 3rem;
  line-height: 0;
}

.line2 {
  display: block;
  width: 8.9rem;
  border-top: 2px solid #252525;
  margin-left: 1.3rem;
  margin-bottom: 1rem;
}


#profil img {
  width: 100%;
}
.profil-container {
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  background: #252525;
  color: #ffffff;
  text-align:center;
  height: auto;
}

.profil-container p {
  display: block;
  font-size: 1rem;
  line-height: 1.3rem;
  font-family: roboto, sans-serif;
  font-weight: 400;
  font-style: normal;
}

.cv-knap {
  cursor: pointer;
  border-color: #252525;
  border-style:solid;
  color: #252525;
  padding: 1rem 2rem 1rem 2rem;
  font-size: 1rem;
  font-family: fagun, sans-serif;
  font-weight: 300;
  font-style: normal;
  text-decoration: none;
  margin-top: 1rem;
}

.knap {
  display: flex;
  justify-content: center;
  align-items: center;
}
.cv-knap:hover {
  background-color: #252525;
  color: #FAF8F5;
}

#kontakt-container {
  display:flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-top: 4rem;
  background-color: #252525;
  color: white;
}


.kontakt {
  font-size: 2rem;
  margin-left: 1.3rem;
  line-height: 0;
}

.line3 {
  display: block;
  width: 8.9rem;
  border-top: 2px solid #ffffff;
  margin-left: 1.3rem;
  margin-bottom: 1rem;
}

.h2 {
  margin-top: 2rem;
  font-size: 1.2rem;
  line-height: 0;
  text-align: center;
}

.h3 {
  font-size: 1.3rem;
  line-height: 0;
  margin-right: 0.5rem;

}

.mail {
  display: flex;
  justify-content: center;
  margin-top: 0.5rem;
 
}

.bund-footer {
  font-size: 0.7rem;
  margin-top: 1rem;
  align-self: center;
}

.links-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 1rem;
}

#kontakt-container span {
  font-size: 1rem;
  background: none;
  color: white;
  border: none;
  letter-spacing: 1px;
  cursor: pointer;
  position: relative;
  margin-bottom: 0.1rem;
  font-family: raleway, sans-serif;
}

@media (min-width: 680px) {

  .pil {
  display: flex;
  margin: auto;
  margin-top:10rem ;
  }
  .project-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  place-items: center;
  margin-top: 3rem;
  margin-bottom: 3rem;
  }
  
}

@media (min-width: 768px) {


#profil img {
  width: 20rem;
  object-fit: cover;
}
.profil-container {
  margin-top: 1rem;
  width: 95vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

}

@media (min-width: 993px) {

  .h1 {
    font-size: 7rem;
  }
  
  #portfolio {
    font-size: 7rem;
    position: absolute;
    margin-top: 14rem;
    margin-left: -28rem;
  }
  
  #h2text-lpage {
    font-size: 3rem;
    position: absolute;
    margin-top: 14rem;
    margin-left: 30rem;
  }

  .h2 {
    font-size: 2rem;
  }
  }